.main-menu{
    display: grid;
    grid-template-columns: 2fr 1fr 6fr 1fr 1fr;
    padding-top: 24px;
    padding-left: 70px;
    position: relative;
    z-index: 1;
}
.image{
    height: 40px;
    width: auto;
}
.search{
    display: flex;
}
.btn-search{
    background-color:white;
    border:none;
}
.fa-search{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
#search-box {
    margin-top: 7px;
    display: none;
    height: 23px;
    animation: expand 1s normal;
    border-radius: 5px;
}
@keyframes expand{
    0%{
        width: 0;
    }
    100%{
        width: 139px;
    }
}
.btn-login{
    background-color: #000033;
    color: white;
    margin-right: 50px;
    border-radius: 5px;
}
.banner{
    max-width: 1440px;
    height: auto;
    margin-top: 24px;
}
.title{
    font-size: 40px;
    text-align: center;
}
.title2{
    font-size: 40px;
}
.description{
    margin: 0 auto;
    width: 1150px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
}
.company{
    max-width: 1000px;
    height: auto;
    margin-left: 150px;
}
.events{
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
}
.pagination{
    font-size: 90px;
    text-align:center;
    height: 70px;
}
p{
font-size: 16px;
}
.bottomnav{
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 2fr 0.5fr;
}
footer{
    margin: 50px 0 0 0;
    box-shadow: 0 -8px 90px #e0d3d3;
}
.upwards{
margin-left:700px;
padding-top: 20px;
font-size: 20px;
}
.icons{
    display: flex;
}
.icons i{
    font-size: 24px;
    margin: 0 10px;
}
.fa-square-twitter:hover{
    color: #1DA1F2 ;
}
.fa-linkedin:hover{
    color: #0077B5 ;
}
.fa-instagram:hover{
    color: #C13584;
}
.fa-square-facebook:hover{
    color: #4267B2;
}
li{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
}
li a{
    text-decoration: none;
    color: black;
}
.column1{
    margin-top: 20px;
}
.column1 p{
    margin: 40px 0;
}
.nav-menu{
    display: none;
    position: absolute;
    background-color: #000033;
    width: 25%;
    z-index: 2;
    padding-bottom: 20px;
}
.submenu{
    position: relative;
}
.nav-menu a{
    color: white;
}
.fa-angle-down{
    color: white;
    font-size: 16px;
}
h4{
    color: white;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 20px;
    margin-left: 20px;
}
h4:hover{
    color: lightgreen;
}
.humber{
    width: 200px;
    height: auto;
    margin-top: 20px;
}
.fa-circle-xmark{
    color: white;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
}
.navrow1{
    display: flex;
    text-align: right;
}
.ph{
    font-size: 44px;
}
.humbercurrent{
    width: 300px;
    height: auto;
    margin: 0 500px;
}
.humbercurrent2{
    width: 150px;
    height: auto;
    margin: 0  0 10px 0;
}
.abouthumber{
    border: 2px solid black;
    border-radius: 10px;
    width: 1200px;
    margin: 0 auto;
}
.newsleft{
    width: 550px;
    border: 1px solid black;
    padding: 2px;
}
.newsleft li{
    white-space: normal;
    list-style: inside;
}
.newsleft p{
font-size: 20px;
font-weight:bold;
}
.newsright{
    width: 550px;
    border: 1px solid black;
    padding: 2px;
    background-color:rgb(194, 185, 185);
}
.newsright li{
    white-space: normal;
    list-style: inside;
}
.eventpara{
    margin-left: 100px;
}
.nodot{
    list-style: none !important;
    font-size: 20px;
    font-weight:bold;
}